@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* background-color: black; */
    color: white;
}

body {
    background-color: #111;
}
#tasklist::-webkit-scrollbar {
    display: none;
}

.task-number::-webkit-scrollbar {
    display: none;
}
